<div ng2FileDrop
  [ngClass]="{'file-over': hasFileOver}"
  (fileOver)="fileOver($event)"
  [uploader]="uploader"
  (onFileDrop)="upload($event)"
  class="container file-drop-zone">

  <div>
    <h1>
      addr2line-JS
      <small class="text-muted">addresses <i class="fa fa-arrow-right" aria-hidden="true"></i> file names & numbers</small>
    </h1>
  </div>

  <!-- For now, just assume that any warning alert is for an upload and add an upload animation. Might not be a good assumption going forward, 
        then we'll need to investigate embedded HTML in the alert message -->
  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }} <i *ngIf="alert.type==='warning'" class="fa fa-refresh fa-spin fa-lg fa-fw"></i></ngb-alert>

  <div>
    <input type="file" ng2FileSelect [uploader]="uploader" (change)="upload($event)" multiple />
  </div>

  <div class="form-group">
    <textarea class="form-control" rows="20" cols="50" id="translate-text" [(ngModel)]="translateText" (ngModelChange)="translateTextChange()" placeholder=
      "Upload an elf file. Type or upload (.txt/.log) text to translate. Feel free to drop in files!">
    </textarea>
  </div>
</div>
