<div class="container">
  <div>
    <h1>
      addr2line-JS
      <small class="text-muted">addresses -> file names & numbers</small>
    </h1>
  </div>

  <ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>

  <div>
    <input type="file" ng2FileSelect [uploader]="uploader" (change)="upload($event)" multiple />
  </div>

  <div class="form-group">
    <textarea class="form-control" rows="20" cols="50" id="translate-text" [(ngModel)]="translateText" (ngModelChange)="translateTextChange()" placeholder=
      "Upload an elf file. Type or upload (.txt/.log) text to translate.">
    </textarea>
  </div>
</div>
