<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<table>
  <tr>
    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".elf">
  </tr>
  <tr>
    <td>Text to translate:</td>
    <td>Translation:</td>
  </tr>
  <tr>
    <td><textarea cols="50" rows="20" [(ngModel)]="translateMe"></textarea></td>
    <td><textarea cols="50" rows="20"></textarea></td>
  </tr>
  <tr>
    <button (click)="translate()">Translate</button>
  </tr>
</table>
